.clientContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientContainer div {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.clientContainer input {
    list-style: none;
    font-size: none;
    height: 43px;
    font-size: 16px;
    margin: 6px 0;
    border-radius: 10px;
    border-style:solid;
    border-color: darkgray;
}

.clientContainer label {
    font-size: 24px;
    margin-top: 24px;
}

.clientContainer p {
    font-size: 14px;
    color: rgb(255, 61, 61);
    font-style: italic;
}

